*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-color{
  background-color: #141931;

}
a{
  text-decoration: none;
}
ul{
  margin: 0;
}
.color-fff{
  color: #fff;
}
.navbar-expand {
  max-width: 100%!important;
}
.list-style-none{
  list-style: none;
}
iframe{
  width: 100%!important ;
}
@media (min-width: 768px){

  .container, .container-md, .container-sm {
    max-width: 100%;
  }
}

